.App {
  text-align: center;
}

#translated {
  display: flex;
  margin: 1rem;
  height: 400px;
  border: 1px solid blue;
}

#panel {
  display: flex;
  margin: 1rem;
  height: 400px;
}
#panel > * {
  flex: 1;
  font_size: 1.5rem;
  padding: 1rem;
}

button {
  height: 3rem;
  width: 100%;
  font_size: 1.5rem;
}

